.navbar {
    width: auto;
    height: 60px;
    top: 0px;
    left: 0;
    background-color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: .8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position:sticky;
    z-index: 1;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    padding:15rem;
    justify-content: space-between;
}

.navbar span {
    color: #f46464;

}

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    padding: 1rem;}

.navbar a{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: .8px;
}

.navbar a:hover {
    color:#f46464;
}